:root { 
--gray_51:#f7f9fc; 
--bluegray_800_0d:#30335e0d; 
--gray_50:#fbfbfb; 
--green_A700:#04dc00; 
--black_900:#000000; 
--indigo_50_00:#dfd8fd00; 
--white_A700_19:#ffffff19; 
--deep_purple_A400:#811ff1; 
--gray_903:#060e25; 
--black_900_26:#00000026; 
--gray_600:#6a6b6c; 
--gray_301:#dadada; 
--gray_302:#e3e6e8; 
--gray_500:#a8a8a8; 
--gray_901:#23262f; 
--gray_902:#180a2e; 
--indigo_50_3d:#dfd8fd3d; 
--gray_900:#060b27; 
--black_900_80:#00000080; 
--gray_101:#f2f2f2; 
--gray_300:#e4e6e9; 
--gray_100:#f4f5f6; 
--bluegray_900:#1f263b; 
--white_A700_63:#ffffff63; 
--green_A700_a2:#04dc00a2; 
--bluegray_301:#8f9bb7; 
--bluegray_900_0a:#1f2e450a; 
--bluegray_300:#8f97a3; 
--deep_purple_A400_66:#811ff166; 
--deep_purple_A400_a5:#811ff1a5; 
--white_A700:#ffffff; 
--bluegray_901:#363535; 
}